
<form class="pt-3 pb-3 row">
  <%= form_for form, :url => path, :method => :get  do |f| %>
    <div class="col-xl-3">
      <label class="" for="from">From:</label>
      <input class="form-control" type="datetime-local" name="from" id="from" <%= @from ? "value=#{@from.strftime("%Y-%m-%dT%H:%M")}" : ''%> >
    </div>
    <div class="col-xl-3">
      <label class="" for="to">To:</label>
      <input class="form-control" type="datetime-local" name="to" id="to" <%= @from ? "value=#{@to.strftime("%Y-%m-%dT%H:%M")}" : ''%> >
    </div>

    <% if params[:controller] != "accounts" %>
      <div class="col-xl-3 ">
        <label class="" for="get_data"></label>
        <%= select("", "account_id",
          @accounts.collect {|p| [ p.name, p.id ] },{:include_blank => 'Choose account', :selected => @account_id},{:class=>"form-select", :id=>"account"})
        %>
      </div>
    <% end %>

    <div class="col-xl-2">
      <label class="" for="get_data"></label>
      <button id="get_data" type="submit" class="form-control btn btn-secondary">Submit</button>
    </div>
  <% end %>
</form>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    $("#from").on("change",function (e) {
      $(this).closest('form').trigger('submit')
    });
    $("#to").on("change",function (e) {
      $(this).closest('form').trigger('submit')
    });
    $("#account").on("change",function (e) {
      $(this).closest('form').trigger('submit')
    });
  });
</script>
