<% movements_loss = movements.find_all{|i| i.amount < 0 and !i.is_transfer?} %>
<% movements_profit = movements.find_all{|i| i.amount > 0 and !i.is_transfer?} %>


<div class="col-md-5 col-md-offset-1">
    <%= render :partial => 'movements/loss_profits_table',
        :locals => { :movements => movements_loss, :title => "Loss", :total => movements_loss.sum(&:amount) } %>
</div>
<div class="col-md-5">
    <%= render :partial => 'movements/loss_profits_table',
        :locals => { :movements => movements_profit, :title => "Profit", :total => movements_profit.sum(&:amount)  } %>
</div>



<div class="col-md-5 col-md-offset-1">
    <%= render :partial => 'movements/graphs',
        :locals => { :movements => movements_loss, :title => "Loss"  } %>
</div>
<div class="col-md-5">
    <%= render :partial => 'movements/graphs',
        :locals => { :movements => movements_profit, :title => "Profit"  } %>
</div>
