<h1>Listing movements</h1>

<%= link_to "create movement", new_movement_path, :class=>"btn btn btn-info" %>

<%= render :partial => 'mtable', :locals => { :movements => @movements } %>

<%= render :partial => 'loss_profits', :locals => { :movements => @movements } %>

<br />

