<h1>Listing movements</h1>


<%= render :partial => 'mtable', :locals => { :movements => @movements } %>

<% movements_loss = @movements.find_all{|i| i.amount < 0 and !i.is_transfer?} %>
<% movements_profit = @movements.find_all{|i| i.amount > 0 and !i.is_transfer?} %>

<div class="span-10">
<%= render :partial => 'movements/graphs',
    :locals => { :movements => movements_loss, :title => "Loss"  } %>
</div>
<div class="span-10 last">
<%= render :partial => 'movements/graphs',
    :locals => { :movements => movements_profit, :title => "Profit"  } %>
</div>
<br />

<%= link_to 'New Movement', new_movement_path %>
