<h1>Listing movements</h1>


<%= render :partial => 'mtable', :locals => { :movements => @movements } %>

<%= render :partial => 'loss_profits', :locals => { :movements => @movements } %>

<br />

<%= link_to 'New Movement', new_movement_path %>
