<h1>Show Mtype</h1>

<%= render :partial => 'movements/date_select', :locals => { :path => @mtype, :form => @mtype} %>
<br><br>

<%= render :partial => 'movements/mtable', :locals => { :movements => @movements } %>

<%= render :partial => 'movements/loss_profits', :locals => { :movements => @movements } %>
