<h1>Listing Charts</h1>
<ul>
  <li>Per year
    <ul>
      <li><%= link_to 'Annual earns', annual_earns_charts_path %></li>
      <li><%= link_to 'Annual Status per account', annual_status_charts_path %></li>
    </ul>
  </li>

  <li>More to come...</li>
</ul>
