/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_tree .
 *= require chosen
 *= require blueprint
 *= require_self
*/

html {
  padding-top: 20px;
}

div#menu_izquierdo {
  padding-top: 50px;
}

/*
* "buttons" in tables
*/
span.positive a, span.show a{
  border-radius: 1em;
  padding:0.3em 0.5em;
  background-color: #e6efc2;
  border: 2px solid #c6d880;
  color: #264409;
  font-weight: bold;
  text-decoration: none;
}

span.negative a, span.edit a{
  border-radius: 1em;
  padding:0.3em 0.5em;
  background-color: #fff6bf;
  border: 2px solid #ffd324;
  color: #514721;
  font-weight: bold;
  text-decoration: none;
}

span.transfer a, span.create a{
  border-radius: 1em;
  padding:0.3em 0.5em;
  background-color: #d5edf8;
  border: 2px solid #92cae4;
  color: #205791;
  font-weight: bold;
  text-decoration: none;
}

span.destroy a{
  border-radius: 1em;
  padding:0.3em 0.5em;
  background-color: #fbe3e4;
  border: 2px solid #fbc2c4;
  color: #8a1f11;
  font-weight: bold;
  text-decoration: none;
}

th.amount, td.amount {
  text-align: right;
}


/*********
* TABLES *
*********/
/*
* few css for tables, to distinguish between positive and negative movements
* i don't like it very much, but it could be useful in the future

table tr.positive td {
  background-color: #e6efc2;
}
tbody tr:nth-child(even).positive td {
   background-color: #c6d880;
}

table tr.negative td {
  background-color: #fbe3e4;
}
tbody tr:nth-child(even).negative td {
   background-color: #fbc2c4;
}
table tr.transfer td {
  background-color: #fff6bf;
}
tbody tr:nth-child(even).transfer td {
  background-color: #ffd324;
}
*/
