/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* NAVBAR */
.theme-icon {
  margin-right: 0.7rem;
}

#theme-selector {
  padding-left: 1rem;
}

#graphs, #theme-selector-menu {
  padding: 0;
}

#graphs li, #theme-selector li {
  margin: 0.25rem;
}

#navs-links a:hover, #navbar li.active, #navbar button:focus, #navbar button:hover {
  border-radius: 0.25rem;
  background-color: var(--bs-danger);
}

.theme-icon {
  width: 1rem;
  padding-right: 0.5rem;
}

/* forms */

.list-group-item:has(.field_with_errors) {
  background-color: var(--bs-danger-bg-subtle);
  color: var(--bs-danger-text-emphasis);
  border-width: 2px;
  border-color: var(--bs-danger-border-subtle);
}
