<h1>Listing accounts</h1>

<div class="col-md-7 col-md-offset-2">
  <br>
  <%= link_to 'New Account', new_account_path, :class=>"btn btn-primary btn-sm" %>
  <br>
  <br>

  <%= render :partial => 'list', :locals => {:accounts => @accounts} %>

  <br>
  <% if @accounts_disabled.length > 0 %>
    <h2>Disabled accounts</h2>
    <%= render :partial => 'list', :locals => {:accounts => @accounts_disabled} %>
  <% end %>


</div>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
